.heatmap-container {
    display: flex;
    margin: auto;
    border-radius: 1em;
    background-color: var(--bg);
    width: max-content;
}

.heatmap-month {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 1fr);
    gap: 2px;
    padding: clamp(3px, 1vw, 7px);
}

.heatmap-day {
    width: clamp(10px, 0.8vw, 15px);
    aspect-ratio: 1;
    background-color: var(--primary);
    border-radius: 0.2em;
}

.heatmap-day:hover {
    cursor: pointer;
}