.profile-grid-container {
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr 2fr;
    background-color: var(--bg);
    color: var(--text);
    gap: 2em;
}

.profilepic-bio-container {
    grid-row: 1;
    grid-column: 1 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5em;
    padding: 1em;
    /* margin-left: 2em; */
    background-color: var(--bg-alt);
    border-radius: 1em;
}

.friends, .friend-requests {
    width: 60%;
}

.bio-text {
    padding: 1em 0;
    width: 60%;
    text-align: center;
}

.progress-graph-container {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--bg-alt);
    border-radius: 1em;
    padding: 1em;
}

.heatmap-padding-box {
    flex: 1;
    padding: 1em;
    background-color: var(--bg-alt);
    border-radius: 1em;
    width: 100%;
    box-sizing: border-box;
}
.progress-heatmap-container {
    width: 100%;
    overflow-x: auto;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    padding-left: 2em;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 0; 
}