.profile-grid-container {
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr 2fr;
    background-color: var(--bg);
    color: var(--text);
    gap: 2em;
}

.profilepic-bio-container {
    grid-row: 1;
    grid-column: 1 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5em;
    padding: 1em;
    margin-left: 2em;
    background-color: var(--bg-alt);
    border-radius: 1em;
}

.friends, .friend-requests {
    width: 60%;
}

.bio-text {
    padding: 1em 0;
    width: 60%;
    text-align: center;
}

.progress-graph-container {
    margin-right: 2em;
}