.flipclock-container {
    display: flex;
    width: 80%;
    gap: 0.5em;
    font-size: 100px;
    align-items: center;
    margin: auto;
}

.minutes-card, .seconds-card {
    font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue';
    flex: 1;
    height: 4em;
    border: 1px solid black;
    border-radius: 0.5em;
    display: flex;
    gap: 2px;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-alt);
    color: var(--text);
}

.card-upper, .card-lower {
    width: 100%;
    position: relative;
    flex: 1;
    overflow: hidden;
    perspective: 250px;
}

.number-upper, .number-lower {
    position: absolute;
    /* font-size: clamp(100px, 20vw, 4em); */
    font-size: 4em;
    width: 100%;
    height: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-lower {
    bottom: 0;
}

.number-upper {
    top: 0;
    transform: rotateX(0deg);
    transform-origin: center bottom;
}

.invisible {
    visibility: hidden;
}

.flip {
    transform: rotateX(90deg);
    transition: transform 0.5s linear;
}

.number-lower.flipper {
    transform: rotateX(-90deg);
    transform-origin: center top;
}

.number-lower.bottomFlip {
    transform: rotateX(0deg);
    transition: transform 0.5s linear;
    transition-delay: 0.2s;
}