.flipclock-container {
    display: flex;
    width: 100%;
    gap: 2em;
    font-size: 100px;
}

.minutes-card, .seconds-card {
    font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue';
    flex: 1;
    height: 4em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-upper, .card-lower {
    height: 2em;
    width: 100%;
    position: relative;
}

.number-upper, .number-lower {
    position: absolute;
    /* font-size: clamp(100px, 20vw, 4em); */
    font-size: 4em;
    width: 100%;
    height: 200%;
}

.number-upper {
    top: 0;
}