.flex-container {
    display: flex;
    background-color: var(--bg-alt);
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
}

.button-container {
    display: flex;
    gap: 0.5em;
    padding-right: 0.75em;
}

.toggle-theme {
    padding: 0;
    background: #f59e0b;
    color: var(--bg);
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-theme:hover {
    background-color: #d97706;
}

.toggle-theme img {
    width: 24px;
    height: 24px;
}

.logo {
    font-weight: bold;
    padding-left: 0.75em;
}