.image-holder {
    background-image: url("../../assets/badminton-court.png");
    background-size: cover;
    width: 100%;
    height: calc(100vh - 50px);
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken; 
}

.hero-text {
    margin: 0;
}